nav ul {
    display: flex;
    list-style: none;
}

nav a {
    display: block;
    height: 50px;
    width: 150px;
    text-align: center;
}

nav a:hover {
    background-color: teal;
}